---
import Base from "./Base.astro";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import HeroImage from "../components/HeroImage.astro";

type Props = Omit<CollectionEntry<"blog">["data"], "tags"> & {
	nextPost?: CollectionEntry<"blog">;
	prevPost?: CollectionEntry<"blog">;
	tags?: string[];
};

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Base title={title} description={description} enable_comments={true} image={heroImage}>
	<article class="p-4" style="max-width: calc(min(100vw, 65ch));">
		<div class="hero-image">
			{heroImage && <HeroImage heroImage={heroImage} />}
		</div>
		<div class="prose">
			<div class="title">
				<div class="date">
					{pubDate && <FormattedDate date={pubDate} />}
					{
						updatedDate && (
							<div class="last-updated-on">
								Last updated on <FormattedDate date={updatedDate} />
							</div>
						)
					}
				</div>
				<h2>{title}</h2>
			</div>
			<slot />
		</div>
	</article>
</Base>
